<div>
  <div class="row-fluid">
    <ul class="thumbnails">
      <li class="span2" ng-repeat="article in articles" style="width: 200px; height: 300px; float: left;">
        <div class="thumbnail">
          <img src="http://placehold.it/250x150" alt="{{article.name}}">
          <div class="caption" style="float: left">
            <h3>{{article.name}}</h3>
            <p>{{article.description}}</p>
            <p class="actions">
              <a ng-show="!inBasket(article)" href="#" class="btn btn-primary" ng-click="addToBasket(article)">Add to Basket</a>
              <a ng-show="inBasket(article)" href="#" class="btn" ng-click="addToBasket(article)">In basket ({{inBasketAmount(article)}})</a>
              <a href="#" class="btn" ng-click="showDetails(article)">Show Details</a>
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
