<div>
  <table class="table">
    <thead>
      <tr>
        <th>Article</th><th>Amount</th><th>Price</th><th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in basket.items" ng-controller="BasketItemController">
        <td>{{ article.name }}</td><td>{{ item.amount }}</td><td>{{ article.price }}</td>
      </tr>
      <tr ng-hide="basketEmpty()">
        <td><strong>Total</strong></td>
        <td></td>
        <td>{{ basketPrice() }}</td>
      </tr>
      <tr ng-show="basketEmpty()">
        <td colspan="5">Your basket is empty. <a href="#/articles">Go shopping!</a></td>
      </tr>
    </tbody>
  </table>
  
  <div>
    <a ng-disabled="basketEmpty()" ng-click="checkout()" class="btn btn-large btn-primary">Checkout Basket</a>
    <a ng-disabled="basketEmpty()" ng-click="clear()" class="btn btn-large">Clear Basket</a>
  </div>
  
  <!-- begin delete-connector-configuration-dialog -->
  <modal-dialog model="checkoutDialog" ng-cloak>
      <div class="modal hide" data-ng-controller="BasketCheckoutController" ngm-if="checkoutDialog.renderHtml()"> 
        <div class="modal-header">
          <button data-ng-show="checkoutDialog.autoClosable" type="button" class="close" data-dismiss="modal">&times;</button>
          <h3>Checkout Basket</h3>
        </div>
        <div class="modal-body">
          <div ng-show="!state">
            <p>
              Please provide us with your name so that we can <code>googggll</code> your address and ship 
              {{ basketSize() }} product(s) accordingly. 
            </p>
            <form class="form-horizontal" novalidate data-ng-submit="buy()" name="checkoutBasketForm">
              <fieldset>
                <div class="control-group">
                  <label class="control-label" for="customerName">Customer Name</label>
                  <div class="controls">
                    <input id="customerName" name="customerName" type="text" required data-ng-model="customerName"/>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div ng-show="state == 'SUCCESS'">
            <p>
              Your order has been added with the id <strong>{{ order.orderId }}</strong>. 
            </p>
            <p>
                          </p>
          </div>
          <div ng-show="state == 'FAILURE'">
            <p>
              Your order could not be addded.
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn"
                  ng-hide="state"
                  ng-click="checkoutDialog.close()">Back</button>
          <button class="btn btn-primary"
                  ng-hide="state"
                  ng-click="buy()"
                  ng-disabled="!isValid(checkoutBasketForm)">Buy</button>
          
          <a class="btn btn-primary" 
             href="#/order/{{order.orderId}}" 
             ng-click="checkoutDialog.close()"
             ng-show="order.orderId">Track Order {{ order.orderId }}</a>

          <button class="btn"
                  ng-show="state" 
                  ng-click="checkoutDialog.close()">Close</button>
        </div>
      </div>
  </modal-dialog>
  <!-- end delete-connector-configuration-dialog -->
</div>
